.container {
  padding: 16px 0px;
  color: black;
  position: fixed;
  width: 100%;
  z-index: 1000;

  background: rgba(255, 255, 255, 0.372);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.content {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

h1 {
  font-size: 25px;
  font-family: cursive, "Courier New", Courier, monospace;
}

.links {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 30px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #800080;
}

a:last-child {
  background: linear-gradient(90deg, #800080, #4b0082);
  color: white;
  padding: 8px 25px;
  border-radius: 50px;
  margin-left: 20px;
}
