.container {
  padding: 16px 20px;
  color: black;
  position: fixed;
  width: 100%;
  z-index: 1000;

  background: rgba(255, 255, 255, 0.372);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.content {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

h1 {
  font-size: 25px;
  font-family: cursive, "Courier New", Courier, monospace;
}

.links {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 30px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #800080;
}

.contactMe {
  background: linear-gradient(90deg, #800080, #4b0082);
  color: white;
  padding: 8px 25px;
  border-radius: 50px;
  margin-left: 20px;
  transition: 0.3s ease-in-out;
}

.contactMe:hover {
  color: white;
  transform: scale(1.02);
}

.menu {
  display: none;
}
.mobileMenu {
  display: none;
}

.mailMe {
  display: none;
}

@media (max-width: 800px) {
  .links {
    display: none;
  }
  .mobileMenu {
    display: block;
  }
  .menu {
    display: block;
    width: 35px;
    height: 35px;
  }

  .container {
    padding: 8px 16px;
  }

  .logo {
    gap: 10px;
  }

  .mobileMenu {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.423);
    width: 100%;
    z-index: 1000;
    opacity: 0;
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
  }

  .mobileLinks {
    position: fixed;
    padding: 80px 30px;
    width: 40%;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
    opacity: 0;

    div {
      position: absolute;
      top: 18px;
      right: 18px;
      width: 25px;
      height: 25px;
      background-color: purple;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .openMenu {
    transform: translateX(0%);
    opacity: 1;
  }

  .contactMe {
    width: fit-content;
    margin-left: 0px;
  }

  .mailMe {
    display: block;
    position: fixed;
    bottom: 14px;
    left: 14px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #800080, #4b0082);
    z-index: 10000000;

    img {
      width: 35px;
      height: 35px;
    }
  }
}

@media (max-width: 500px) {
  .mobileLinks {
    width: 60%;
  }
}

@media (max-width: 400px) {
  .mobileLinks {
    width: 80%;
  }
}
