<div class="container">
  <div class="content">
    <p>Copyright &copy; 2025 - All rights reserved.</p>
    <div class="links">
      <div>
        <a href="https://wa.me/+14162626112" target="_blank">+1 416 262 6112</a>
        <img src="arrow.png" alt="arrow icon">
      </div>
      <div>
        <a href="mailto:popoolasesan4@gmail.com">Popoolasesan4&#64;gmail.com</a>
        <img src="arrow.png" alt="arrow icon">
      </div>
      <div>
        <a href="https://github.com/sesanj" target="_blank">GitHub</a>
        <img src="arrow.png" alt="arrow icon">
      </div>
      <div>
        <a href="https://www.linkedin.com/in/popoola-sesan-74139b143/" target="_blank">Linkedin</a>
        <img src="arrow.png" alt="arrow icon">
      </div>

    </div>

  </div>

</div>