<section class="about-section" data-aos="fade-up">
  <app-heading [heading]="heading"></app-heading>
  <div class="content">
    <div class="about-image">
      <img src="myPic.JPG" alt="Your Name" />
    </div>

    <div class="about-content">
      <div class="bio">
        <svg xmlns="http://www.w3.org/2000/svg" class="quote-icon quote-left" viewBox="0 0 24 24" width="28" height="28"
          fill="#800080">
          <path d="M9 6H5v7h4v5H2V6h7zm13 0h-4v7h4v5h-7V6h7z" />
        </svg>

        <p>
          I'm a passionate Web Developer with a love for creating rich, immersive digital experiences.
          When I'm not coding, I'm probably at the gym, listening to good music or trashing my friends playing FIFA on
          playstation 5 😅.
        </p>

        <svg xmlns="http://www.w3.org/2000/svg" class="quote-icon quote-right" viewBox="0 0 24 24" width="28"
          height="28" fill="#800080">
          <path d="M9 6H5v7h4v5H2V6h7zm13 0h-4v7h4v5h-7V6h7z" />
        </svg>
      </div>

      <div class="about-tags">
        <span>Gaming <span>🎮</span></span>
        <span>Fitness <span>💪</span></span>
        <span>Music <span>🎵</span></span>
        <span>Reading <span>📚</span></span>
        <a href="#contact" class="button">
          Let's Connect <img src="arrow.png" alt="">
        </a>
      </div>
    </div>

  </div>
</section>