.experience-section {
  padding: 150px 20px;
  background: #ffffff;
  text-align: center;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.experience-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 60px;
}

.experience-content {
  width: 55%;
  text-align: left;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.08);
  padding: 40px;
}

.company-logo {
  margin-bottom: 20px;
}

.company-logo img {
  width: 100px;
}

.badge {
  margin-top: 5px;
  background: #eaeaea;
  width: fit-content;
  color: black;
  font-size: 12px;
  padding: 4px 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.experience-content h3 {
  font-size: 26px;
  margin-bottom: 10px;
  color: #4b0082;
}

.experience-content .role {
  font-size: 14px;
  color: #6a0dad;
  margin-bottom: 20px;
}

.experience-points {
  list-style: none;
  padding: 0;
  margin-bottom: 25px;
}

.experience-points li {
  margin-bottom: 12px;
  font-size: 14px;
  color: #333;
  position: relative;
  padding-left: 20px;
}

.experience-points li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #800080;
  font-size: 18px;
  line-height: 1;
}

.experience-image {
  width: 45%;
}

.experience-image img {
  width: 100%;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.08);
  transition: transform 0.5s ease;
}

.website-btn {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 50px;
  background: linear-gradient(90deg, #800080, #4b0082);
  transition: 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.233);

  &:hover {
    background: linear-gradient(45deg, #4b0082, #800080, #6a0dad);
    transform: scale(1.05);
    transition: ease-in-out 0.3s;
  }

  span img {
    width: 18px;
    height: 18px;
  }
}

.website-btn:hover span img {
  animation: moveArrow 0.3s ease-in-out;
}

@keyframes moveArrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Responsive */
@media (max-width: 1024px) {
  .experience-container {
    margin-top: 0px;
    flex-direction: column;
    gap: 30px;
  }

  .experience-content,
  .experience-image {
    width: 100%;
  }

  .experience-points {
    text-align: left;
    margin-left: 0;
  }

  .company-logo {
    margin: 0 auto 20px;
  }
}

@media (max-width: 650px) {
  .experience-section {
    padding: 100px 16px;
  }

  .experience-content h3 {
    font-size: 24px;
  }
}
