<div class="project-card">
  <div class="project-image">
    <img [src]="project.cardImage" alt="Project Screenshot">
  </div>
  <div class="project-content">
    <h1><span>{{project.title}}</span></h1>
    <p class="project-description">
      {{project.shortDescription}}
    </p>
    <div class="project-tags">
      @for(tag of project.tech; track $index){
      <span>#{{tag}}</span>
      }
    </div>
    <div class="button">
      <a class="project-link" (click)="display()">View Project <span class="arrow"><img src="arrow.png"
            alt=""></span></a><span><a [href]="project.links.github">Github</a><img src="github.png"
          alt="github"></span>
    </div>
  </div>
</div>
<app-project-info [projectInfo]="project" [displayProjectInfo]="contactService.displayInfo"
  (projectIsClosed)="projectIsClosed($event)"></app-project-info>